<form class="create-form">
  <div class="container">
      <h1>Add Recipe</h1> <br/> 
      <p>Fill in this form to add a recipe.</p> <hr/>
    <div class="form-group">
      <label for="contry">Select Category</label>
      <select class="form-control" id="category" disabled>
        <option>{{recipe.category.name}}</option>
      </select> 
    </div>
      <label html="name">Name</label> <br />
      <input type="text" name="name" placeholder="Recipe name" value={{recipe.name}} required/> <br />

      <label html="photo">Photo</label> <br />
      <input type="text" name="photo" placeholder="Photo" value={{recipe.photo}}  required/> <br />

      <label html="products">Products</label> <br />
      <div *ngFor="let product of recipe.products">
        <input type="checkbox" checked disabled/> {{product}}
       </div> <br/>
       <label html="description">Description</label> <br />
      <textarea type="text" name="description" placeholder="Write the recipe here ..." value={{recipe.description}}  required></textarea> <br />

      <button (click)="editRecipe(recipe._id)" type="submit" class="btn">Edit Recipe</button>
  </div>
</form>